@import "variables.scss";

.header-container {
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 20%);

  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: 0.35fr 0.9fr;
  }

  display: grid;
  grid-template-columns: 0.35fr 0.4fr;

  &__logo {
    grid-column: 1/2;
    max-height: 6em;
    display: flex;
    justify-self: flex-end;
    margin-right: 2em;
  }

  &__menu {
    grid-column: 2/3;

    @media screen and (max-width: 500px) {
      display: grid;
      justify-content: flex-end;
      text-align: center;
    }

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: $menu-font;
    font-family: $menu-font;

    &__link1 {
      text-decoration: none;
      color: $dark-grey-color;
    }

    &__link2 {
      text-decoration: none;
      color: $dark-grey-color;
    }

    &__link3 {
      text-decoration: none;
      color: $dark-grey-color;
    }

    a:hover {
      color: $blue-color;
    }
  }
}

.nav {
  margin-top: 2vh;
  display: grid;
  justify-content: center;
  text-align: center;

  #h1 {
    font-family: $headings-text-font;
    margin-bottom: 4vh;
    color: $dark-blue-color;
  }

  .pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 21.5px;
    box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);

    @media screen and (max-width: 420px) {
      width: 300px;
    }

    @media screen and (max-width: 780px) and (min-width: 421px) {
      width: 400px;
    }

    @media screen and (min-width: 781px) {
      width: 600px;
    }

    li {
      display: inline;

      a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        font-family: $menu-font;
        border-radius: 21.5px;
        font-size: $main-text-font;
      }

      #active {
        background-color: $dark-blue-color;
        color: $white-color;
      }

      #no-active {
        color: $dark-grey-color;
      }

      #no-active:hover {
        background-color: $white-color;
      }

      a:hover {
        background-color: $dark-blue-color;
        color: $white-color;
      }
    }
  }
}

.page {
  margin-top: 2vh;
  display: grid;
  justify-items: center;

  @media screen and (min-width: 1025px) {
    &__icons {
      display: grid;
      grid-template-columns: 200px 200px;
      grid-template-rows: 120px 60px;
      justify-content: space-around;

      width: 400px;
      height: 200px;
      border-radius: 8px;
      animation: wipe-enter 2s 1;

      @keyframes wipe-enter {
        0% {
          transform: scale(0, 0.025);
          background-color: $dark-blue-color;
        }

        50% {
          transform: scale(1, 0.025);
          background-color: $dark-blue-color;
        }
      }

      &__people {
        grid-column: 1/2;
        display: grid;
        justify-content: flex-start;
      }

      &__money {
        grid-column: 2/3;
        display: grid;
        justify-content: flex-end;
        margin-top: 2vh;
      }

      &__people-text {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        justify-content: flex-start;
        margin-left: 12%;
        font-family: $main-text-font;
      }

      &__money-text {
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        justify-content: flex-end;
        margin-right: 7.5%;
        font-family: $main-text-font;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__icons {
      display: grid;
      grid-template-columns: 150px 150px;
      grid-template-rows: 120px 40px;
      justify-content: space-around;

      width: 300px;
      height: 200px;
      border-radius: 8px;
      animation: wipe-enter 2s 1;

      @keyframes wipe-enter {
        0% {
          transform: scale(0, 0.025);
          background-color: $dark-blue-color;
        }

        50% {
          transform: scale(1, 0.025);
          background-color: $dark-blue-color;
        }
      }

      &__people {
        grid-column: 1/2;
        display: grid;
        justify-content: flex-start;
      }

      &__money {
        grid-column: 2/3;
        display: grid;
        justify-content: flex-end;
        margin-top: 2vh;
      }

      &__people-text {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        justify-content: flex-start;
        margin-left: 18%;
        font-family: $main-text-font;
      }

      &__money-text {
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        justify-content: flex-end;
        margin-right: 9.5%;
        font-family: $main-text-font;
      }
    }

    @media screen and (max-width: 280px) {
      &__icons {
        display: grid;
        grid-template-columns: 130px 130px;
        grid-template-rows: 120px 40px;
        justify-content: space-around;

        width: 260px;
        height: 200px;
        border-radius: 8px;
        animation: wipe-enter 2s 1;

        @keyframes wipe-enter {
          0% {
            transform: scale(0, 0.025);
            background-color: $dark-blue-color;
          }

          50% {
            transform: scale(1, 0.025);
            background-color: $dark-blue-color;
          }
        }

        &__people {
          grid-column: 1/2;
          display: grid;
          justify-content: flex-start;
        }

        &__money {
          grid-column: 2/3;
          display: grid;
          justify-content: flex-end;
          margin-top: 2vh;
        }

        &__people-text {
          grid-column: 1/2;
          grid-row: 2/3;
          display: grid;
          justify-content: flex-start;
          margin-left: 18%;
          font-family: $main-text-font;
        }

        &__money-text {
          grid-column: 2/3;
          grid-row: 2/3;
          display: grid;
          justify-content: flex-end;
          margin-right: 9.5%;
          font-family: $main-text-font;
        }
      }
    }
  }

  &__competition {
    max-width: 85%;

    &__h1 {
      text-align: center;
      font-family: $headings-text-font;
      font-weight: bold;
      font-size: 1.3em;
      color: $blue-color;
    }

    &__h1-text {
      margin-top: 2vh;
      font-family: $main-text-font;
      font-size: 1em;
    }

    &__h2 {
      margin-top: 1.4vh;
      font-family: $headings-text-font;
      font-weight: bold;
      font-size: 1.2em;
      color: $blue-color;
    }

    &__h2-text {
      font-family: $main-text-font;
      font-size: 1em;
      line-height: 2em;
    }

    p {
      margin-top: 1.2vh;
    }

    a {
      color: $blue-color;
    }
  }

  &__speech {
    margin-top: 3vh;
    box-shadow: -10px -14px 36px rgba(78, 55, 55, 0.15);
    max-width: 85%;
    padding: 1%;
    overflow: hidden;
    animation: 3s anim-lineUp ease-out 1;

    @keyframes anim-lineUp {
      0% {
        opacity: 0;
        transform: translateY(80%);
      }

      20% {
        opacity: 0;
      }

      50% {
        opacity: 1;
        transform: translateY(0%);
      }

      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    @media screen and (min-width: 1024px) {
      max-width: 65%;
    }

    &__img {
      float: left;
      shape-outside: circle(50%);
      clip-path: circle(50%);
      width: 170px;
      margin: 0px 20px 0px 0px;
    }

    &__b-text {
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 3%;
      }

      @media screen and (min-width: 1025px) {
        margin-top: 5%;
      }

      font-style: italic;
      font-family: $menu-font;
      font-size: 0.9em;
    }

    &__s-text {
      padding: 3px;
      margin-top: 2%;
      display: flex;
      justify-content: flex-end;
      font-family: $main-text-font;
      font-weight: bold;
    }
  }
}
.button {
  display: inline-block;
  text-decoration: none;
  background-color: $white-color;
  color: $dark-blue-color !important;
  border: 3px solid $dark-blue-color;
  border-radius: 18px;
  font-size: 16px;
  padding: 3px 16px;
  transition: all 0.6s ease;
}
.button:hover {
  text-decoration: none;
  background-color: $dark-blue-color;
  color: $white-color !important;
  border-color: $dark-blue-color;
}
.competition-files {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    justify-content: center;
    text-align: center;
  }
  font-family: $main-text-font;
}

.container {
  padding: 5px;
  margin-top: 1.4vh;
  &__element {
    list-style-type: none;
    margin-bottom: 0.7em;
  }
  &__element::before {
    color: $blue-color;
    content: "—";
    padding-right: 10px;
  }
}
.publications-list {
  &__link {
    text-decoration: none;
    color: black !important;
  }

  &__link:hover {
    text-decoration: underline;
    color: $blue-color !important;
  }
}
