@import "variables.scss";

.header-container {
  box-shadow: 1px 1px 7px 0 rgb(0 0 0 / 20%);
  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: 0.35fr 0.9fr;
  }

  display: grid;
  grid-template-columns: 0.35fr 0.4fr;

  &__logo {
    grid-column: 1/2;
    max-height: 6em;
    display: flex;
    justify-self: flex-end;
    margin-right: 2em;
  }

  &__menu {
    grid-column: 2/3;

    @media screen and (max-width: 500px) {
      display: grid;
      justify-content: flex-end;
      text-align: center;
    }

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $menu-font;

    &__link1 {
      text-decoration: none;
      color: $dark-grey-color;
    }

    &__link2 {
      text-decoration: none;
      color: $dark-grey-color;
    }

    &__link3 {
      text-decoration: none;
      color: $dark-grey-color;
    }

    a:hover {
      color: $blue-color;
    }
  }
}

.about {
  padding: 10px;
  &__heading {
    font-family: $headings-text-font;
    font-size: 1.3em;
    color: $blue-color;
  }

  &__main-text {
    line-height: 1.3em;
    font-family: $main-text-font;
    font-size: 1.1em;
  }

  &__text {
    line-height: 1.3em;
    font-family: $main-text-font;
    font-size: 1em;
  }
}
.members {
  border: thick double $blue-color;
  &__heading {
    font-family: $headings-text-font;
    font-size: 1.2em;
    color: $blue-color;
  }

  &__list {
    line-height: 1.3em;
    font-family: $main-text-font;
    font-size: 1em;
  }
}
.goals {
  border: thick double $blue-color;
  &__heading {
    font-family: $headings-text-font;
    font-size: 1.2em;
    color: $blue-color;
  }

  &__list {
    line-height: 1.3em;
    font-family: $main-text-font;
    font-size: 1em;
  }
}
h1,
h2 {
  margin: 10px;
}
ul {
  padding: 5px;
  margin: 0px;
}
li {
  list-style-type: none;
  margin-bottom: 0.7em;
}
li::before {
  color: $blue-color;
  content: "—";
  padding-right: 10px;
}
