@charset "UTF-8";
/*Colors*/
/*Fonts*/
.header-container {
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  display: grid;
  grid-template-columns: 0.35fr 0.4fr;
}
@media screen and (max-width: 1024px) {
  .header-container {
    display: grid;
    grid-template-columns: 0.35fr 0.9fr;
  }
}
.header-container__logo {
  grid-column: 1/2;
  max-height: 6em;
  display: flex;
  justify-self: flex-end;
  margin-right: 2em;
}
.header-container__menu {
  grid-column: 2/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
}
@media screen and (max-width: 500px) {
  .header-container__menu {
    display: grid;
    justify-content: flex-end;
    text-align: center;
  }
}
.header-container__menu__link1 {
  text-decoration: none;
  color: #676767;
}
.header-container__menu__link2 {
  text-decoration: none;
  color: #676767;
}
.header-container__menu__link3 {
  text-decoration: none;
  color: #676767;
}
.header-container__menu a:hover {
  color: #439bde;
}

main {
  background: linear-gradient(to bottom, #feffff 0%, #e8f3f7 75%, #ddf1f9 100%);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  grid-area: about;
  padding: 10px;
}
.about__heading {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.3em;
  color: #005392;
}
.about__main-text {
  line-height: 1.3em;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
}
.about__images {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.about__text {
  line-height: 1.3em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.members {
  border: thick double #439bde;
  background-color: #ffffff;
  overflow: hidden;
  animation: 3s anim-lineUp ease-out 1;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.members__heading {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2em;
  color: #439bde;
}
.members__list {
  line-height: 1.3em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.goals {
  border: thick double #439bde;
  background-color: #ffffff;
  overflow: hidden;
  animation: 2s anim-lineUp ease-out 1;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.goals__heading {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2em;
  color: #439bde;
}
.goals__list {
  line-height: 1.3em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

h1,
h2 {
  margin: 10px;
}

.container {
  padding: 5px;
  margin: 0px;
}
.container__element {
  list-style-type: none;
  margin-bottom: 0.7em;
}
.container__element::before {
  color: #439bde;
  content: "—";
  padding-right: 10px;
}

.links {
  grid-area: links;
  margin: 10px;
  border: thick double #439bde;
  background-color: #ffffff;
}
.links__heading {
  margin-left: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  color: #439bde;
}
.links__list {
  font-family: "Roboto", sans-serif;
}

.links-list__link {
  text-decoration: none;
  color: black !important;
}
.links-list__link:hover {
  text-decoration: underline;
  color: #439bde !important;
}/*# sourceMappingURL=main-page.css.map */