/*Colors*/
$white-color:#ffffff;
$light-blue-color:#e6edf2;
$blue-color:#439bde;
$dark-blue-color:#005392;
$light-grey-color:#c4c4c4;
$dark-grey-color:#676767;
/*Fonts*/
$menu-font: "Fira Sans",
sans-serif;
$main-text-font:'Roboto',
sans-serif;
$headings-text-font:'IBM Plex Sans',
sans-serif;